<script setup lang="ts">
import { ref, watch, onMounted } from "vue";
import * as monaco from 'monaco-editor'
import { usePreferences } from "@/stores/preferences";
import {getAttemptAsync,getAttemptTestcaseResultsAsync,getProblemTestcasesAsync } from "@/services/problem-service";
import { Attempt } from "@/types/Attempt";
import { TestCaseResult } from "@/types/TestCaseResult";
import { TestCase } from "@/types/TestCase";

const preferences = usePreferences();

const props = defineProps<{
  id: number
}>();
console.log("attemptID", props.id);
const attempt = ref<Attempt>(new Attempt());
const testcaseResults = ref<Array<TestCaseResult>>([]);
const testcases= ref<Array<TestCase>>([]);


/// Monaco Editor
let editor: monaco.editor.IStandaloneCodeEditor | null = null;
watch(()=>preferences.theme, (newTheme)=>{
  console.log("switch to theme:", newTheme);
  if(newTheme === "dark")
    monaco.editor.setTheme("vs-dark")
  else 
    monaco.editor.setTheme("vs")
}, {immediate: true})

onMounted(async()=>{
  {
    attempt.value = (await getAttemptAsync(props.id));
    console.log("attemptId: ",attempt.value.id);
    testcaseResults.value=(await getAttemptTestcaseResultsAsync(attempt.value.id));
    testcases.value=(await getProblemTestcasesAsync(attempt.value.problemId));
  }
  
  const monacoEditorConainer = document.getElementById('monacoEditorConainer');
  if(monacoEditorConainer != null) {
    editor = monaco.editor.create(monacoEditorConainer, {
      value: attempt.value?.sourceCode,
      language: 'csharp',
      automaticLayout: true,
      readOnly: true
    });
    
  }
}
)

</script>

<template>
<v-container>
  <v-row>
    <v-col cols="12">
      <div class="elevation-3">
        <div id="monacoEditorConainer" ></div>
      </div>
    </v-col>
    <v-col cols="12">
      <v-table>
        <thead>
          <tr>
            <th class="text-center" width="20px">#</th>
            <th class="text-center">Входные данные</th>
            <th class="text-center">Ожидаемый ответ</th>
            <th class="text-center">Ответ</th>
            <th class="text-center">Статус</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(testcase,idx) in testcaseResults" :key="idx">
            <td class="text-center">
              {{  idx+1 }}
            </td>
            <td class="text-center">
              {{  testcases[idx].input }}
            </td>
            <td class="text-center">
              {{ testcases[idx].expectedOutput }}
            </td>
            <td class="text-center">
              {{ testcaseResults[idx].output }}
            </td>
            <td class="text-center" >
              <v-btn class="ma-2" outlined v-if="testcaseResults[idx].output==testcases[idx].expectedOutput" color="success" width="120" >
              Success
              </v-btn>
              <v-btn class="ma-2" outlined v-else color="error" width="120">
              Failed
              </v-btn>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-col>
  </v-row>
  <v-row>
    <v-col cols="12">
      <v-btn variant="contained" color="primary" :to="{ name: 'problem', params: { id: attempt.problemId}}">Закрыть</v-btn>
    </v-col>
  </v-row>
</v-container>
</template>


<style>
#monacoEditorConainer {
  /* height: 100%; */
  /* z-index: 0; */
  height: 400px;
  /* overflow: hidden; */
  outline: 1px solid rgba(var(--v-border-color), var(--v-border-opacity));
}
button.primary {
  background-color: rgb(var(--v-theme-primary));
}
</style>
