<script setup lang="ts">
import { usePreferences } from '@/stores/preferences';
import { useUserStore } from '@/stores/user-store';
import { useRouter } from 'vue-router';
const preferences = usePreferences();
const userStore = useUserStore();
const router = useRouter();

function logout() {
  userStore.logoutUser();
  router.push({ name: 'login' })
}
</script>

<template>
<div>
  <template v-if="userStore.name != ''">
    <v-menu offset-y>
      <template v-slot:activator="{ props }">
        <v-btn
          dark
          v-bind="props"
          variant="text"
        >
          {{ userStore.name }}
        </v-btn>
      </template>
      <v-list>
        <v-list-item @click="preferences.toggleTheme()">
          <v-list-item-title>Сменить тему</v-list-item-title>
        </v-list-item>
        <v-list-item @click="logout">
          <v-list-item-title>Выйти</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
    <!-- <span>{{ userStore.name }}</span> -->
  </template>
  <template v-else>
    <v-btn variant="text" to="/login">Войти</v-btn>
  </template>
</div>

</template>
